{
    "presets": [
        [
          "@babel/preset-react",
          {
            "runtime": "automatic"
          }
        ],
        ["@babel/preset-env"]
    ],
    "plugins": [
      ["module-resolver", {
        "root": ["./"],
        "alias": {
          "@": "./src"
        }
      }]
    ],
    "env": {
      "production": {
        "plugins": [
          ["transform-react-remove-prop-types", {
            "mode": "wrap",
            "ignoreFilenames": ["node_modules"]
          }]
        ],
        "ignore": [
          "src/**/*.test.js",
          "src/**/*.stories.js"
        ]
      }
    }
}